body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {            
    color:blueviolet;
}

li {
    font-size: 24px;
}

p {
    font-size: 24px;
}

a {   
    font-size: 24px;
}

.tag {
    font-size: 15px;
}

.sidebar {
    float: left;
    width: 200px;
    font-size: 5px; 
}

.content {
    margin-left: 220px; 
}