{% extends 'base.html' %}
{% block content %}
<div class="welcome-container">
    <p>Мы создали этот сайт с целью предоставить нашим пользователям уникальный опыт и полезные ресурсы.
    Наша миссия состоит в том, чтобы обеспечить доступ к информации, которая вас интересует,
    а также создать дружественное и вдохновляющее онлайн-сообщество.</p>
    <p>Мы стремимся к постоянному совершенствованию нашего сервиса и поэтому всегда рады получить от вас обратную связь.
    Если у вас есть какие-либо вопросы, предложения или пожелания, пожалуйста, свяжитесь с нами.</p>
    <p>Благодарим вас за посещение нашего сайта!</p>
</div>

<ul>
    {% for c in contacts %}
    {% if not c.is_private %}
    <li>
        <h2>{{c.title}}</h2>
        {% autoescape off %}
        <p >{{c.content|linebreaks}}</p>
        {% endautoescape %}
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}