{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="welcome-container">
        <h1>Добро пожаловать на Coders' Hub!</h1>
        <h2>Платформа для обмена знаниями и кодом</h2>
        <p>На нашем сайте вы можете делиться своими реализациями алгоритмов и интересным кодом на языках программирования C++, C# и Python. Будь то эффективные решения задач, учебные примеры или оригинальные проекты, здесь вы найдете единомышленников и получите ценные отзывы от других разработчиков.</p>

        <h2>Что вы найдете на Coders' Hub?</h2>
        <ul>
            <li><strong>Алгоритмы:</strong> Исследуйте различные реализации популярных алгоритмов, улучшайте свои навыки и находите вдохновение для собственных проектов.</li>
            <li><strong>Интересные проекты:</strong> Делитесь своими уникальными решениями и проектами, которые демонстрируют ваши знания и креативность.</li>
            <li><strong>Обратная связь:</strong> Получайте конструктивную критику и советы от опытных разработчиков, чтобы сделать ваш код еще лучше.</li>
            <li><strong>Сообщество:</strong> Присоединяйтесь к сообществу увлеченных программистов, обсуждайте новинки в мире программирования и участвуйте в тематических дискуссиях.</li>
        </ul>

        <h2>Как начать?</h2>
        <ol>
            <li><strong>Регистрация:</strong> Создайте учетную запись, чтобы начать размещать свои публикации и оставлять комментарии.</li>
            <li><strong>Создание публикации:</strong> Поделитесь своим кодом, добавьте описание и теги для удобного поиска.</li>
            <li><strong>Оценка и обсуждение:</strong> Получайте лайки и комментарии, обсуждайте лучшие практики и новые идеи.</li>
        </ol>

        <h2>Зачем это нужно?</h2>
        <p>Обмен знаниями — ключевой элемент развития в любой области, и программирование не исключение. Coders' Hub предоставляет платформу, где вы можете учиться у других, делиться своими находками и постоянно совершенствоваться.</p>

        <p>Присоединяйтесь к нам, делитесь своим опытом и развивайте свои навыки вместе с Coders' Hub!</p>
    </div>
{% endblock %}

{% block navigation %}
<div class="categories-container">
    <div class="category-box cpp">
        <a href="{% url 'category' 'cpp' %}">
            <div class="category-content">
                <img src="{% static 'images/cpp.png' %}" alt="C++">
                <h2>C++</h2>
            </div>
        </a>
    </div>
    <div class="category-box cs">
        <a href="{% url 'category' 'cs' %}">
            <div class="category-content">
                <img src="{% static 'images/c#.png' %}" alt="Cs">
                <h2>C#</h2>
            </div>
        </a>
    </div>
    <div class="category-box py">
        <a href="{% url 'category' 'py' %}">
            <div class="category-content">
                <img src="{% static 'images/py.png' %}" alt="Python">
                <h2>Python</h2>
            </div>
        </a>
    </div>
</div>
{% endblock %}
