<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<h1>{{title|upper}}</h1>

<ul>
    <li><a href="{% url 'home' %}">Main page</a></li>
    {% for m in menu %}
    {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
    <a href="{% url m.url_name %}">{{m.title}}</a>
</li>
    {% endfor %}
</ul>
<p >URL is {{url}}</p>
<p >Rounded 28.56 + 20 = {{float|add:"20"}}</p>
<p >28 is a multiple of 2: {{float|divisibleby:"2"}}</p>
<p >Third in list: {{lst.3}}</p>
<p >First element in set: {{set.pop}}</p>
<p >First in dictionary: {{dict.key_1}}</p>
<p >Object 'a' of MyClass: {{obj.a}}</p>
</body>
</html>
