{% extends 'base.html' %}
{% load logo_tags %}
{% block tagblock %}
<li>
    {% show_all_tags cat_slug=current_cat_slug %}
</li>
{% endblock tagblock %}

{% block content %}
<ul class="post-list">
    {% for p in posts %}
    {% if p.is_published %}
    <li>
        <h2>{{p.title}}</h2>
        <p class="first">Автор: {{ p.author.username|default:"неизвестен"}}</p>
        <p class="first">Последнее обновление: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
        <a href="{{ p.url }}">Смотреть</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}

{% block navigation %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.has_other_pages %}
            {% if page_obj.number == p %}
        <li class="page-num-selected">
            {{ p }}
        </li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
            {% endif %}
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock navigation %}
