{% extends 'base.html' %}
{% block posttag %}
{% with post.tags.all as tags %}
{% if tags %}
<ul class="posttags-list">
    <li>Tags:</li>
    {% for t in tags %}
    <li>
        <a href="{% url 'tag' cat_slug=current_cat_slug tag_slug=t.slug %}" class="tag">{{t.tag}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock posttag %}

{% block content %}
<div>
    <h2>Код</h2>
    <div>{{ post.content|linebreaksbr }}</div>
    <h2>Описание</h2>
    <div>{{ post.about|linebreaksbr }}</div>
</div>
{% endblock content %}