{% load static %}
{% load logo_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'logo/css/def_style.css' %}" rel="stylesheet">
</head>
<body>

{% get_categories as categories %}
<div class="sidebar">
    <ul>
        <li><a href="{% url 'home' %}">Главная страница</a></li>
        {% for m in menu %}
        {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
        <a href="{% url m.url_name %}">{{m.title}}</a>
    </li>
        {% endfor %}
    </ul>
    <ul id="leftchapters">
    <li class="selected">Категории</li>
        {% show_categories %}
        {% block tagblock %} {% endblock tagblock %}
    </ul>
</div>
<div class="content">
    <h1>{{title}}</h1>
    {% block posttag %} {% endblock posttag %}
    {% block content %} {% endblock content %}
    {% block navigation %} {% endblock navigation %}
</div>
</body>
</html>